.buttons-admin-tour {
  padding-top: 10px;
  margin: 120px auto 0;
  display: flex;
  justify-content: center;
}
.buttons-admin-partners {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tours-admin-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
  padding: 20px 10px 0;
}

.guides-admin-page {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: center;
  padding: 20px 10px 0;
  margin-top: 100px;
}
.employees-admin-page {
  margin: 100px 0;
}
@media (max-width: 440px) {
  .buttons-admin-tour {
    flex-direction: column;
  }
}

.title-none-tour {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  font-weight: lighter;
  font-size: 21px;
}

.btn-admin-fetch-tour {
  padding: 12px 12px;
  border: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
  border-radius: 4px;
  background: #000000;
}

.btn-admin-fetch-tour:hover {
  color: #000000;
  background: none;
  border: 1px solid #ccc;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
}

.btn-admin-fetch-tour.focus {
  color: #000000;
  background: none;
  border: 1px solid #000000;
}
