.css-13cymwt-control {
  border: none !important;
  cursor: text !important;
}

.css-t3ipsp-control {
  cursor: text !important;
  box-shadow: none !important;
  border: none !important;
}

.css-1hb7zxy-IndicatorsContainer {
  cursor: pointer;
}

.css-1dimb5e-singleValue {
  color: #000 !important;
}

.css-1nmdiq5-menu {
  left: 0;
}

.css-1nmdiq5-menu div {
  cursor: pointer !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0 !important;
}

.css-1jqq78o-placeholder {
  color: #000 !important;
}

.text-field-select {
  padding-right: 0;
}

.css-13cymwt-control {
  border: none !important;
  cursor: text !important;
}

.css-t3ipsp-control {
  cursor: text !important;
  box-shadow: none !important;
  border: none !important;
}

.css-1hb7zxy-IndicatorsContainer {
  cursor: pointer;
}

.css-1dimb5e-singleValue {
  color: #000 !important;
}

.css-1nmdiq5-menu {
  left: 0;
}

.css-1nmdiq5-menu div {
  cursor: pointer !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0 !important;
}

.css-1jqq78o-placeholder {
  color: #000 !important;
}
